

<!-- <ul>
{{#each comments as |comment|}}
  <li></li>
{{/each}}
</ul> -->


<form action ="/home/:slug" method="POST">
  <input type='text' name='text'> Text
  <input type='user' name='title'> User
  <input type='Submit' value='Comment'>

</form>
