body {
  background-color:  lightgrey;
  text-align: center;
}
ul{
  text-decoration: none;
}
a{
  text-decoration: none;
}
ol{
  text-decoration: none;
}
#wrapper{
  width: 50%;
  margin-left: 25%;
  background-color: white;
}
